{% extends 'base.html' %}

{% block title %}
    <title>Editar Categoría</title>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-white">Editar Categoría</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="{{ form.nombre.id_for_label }}" class="form-label text-white">Nombre</label>
            {{ form.nombre }}
        </div>
        <div class="mb-3">
            <label for="{{ form.descripcion.id_for_label }}" class="form-label text-white">Descripción</label>
            {{ form.descripcion }}
        </div>
        <div class="mb-3">
            <label for="{{ form.parent.id_for_label }}" class="form-label text-white">Categoría Padre</label>
            {{ form.parent }}
        </div>
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </form>
</div>
{% endblock %}
