{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Detalle del Producto</title>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-white">Detalle del Producto</h1>
    <div class="card mb-3 card-bg">
        <div class="row no-gutters">
            <div class="col-md-4 d-flex align-items-center">
                {% if producto.imagen %}
                    <img src="{{ producto.imagen_url }}" class="card-img img-fluid" alt="{{ producto.nombre }}" style="max-width: 400px; margin: auto;">
                {% else %}
                    <img src="{% static 'img/producto_default.png' %}" class="card-img" alt="{{ producto.nombre }}" style="max-width: 150px; margin: auto;">
                {% endif %}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ producto.nombre }}</h5>
                    <p class="card-text"><strong>Categoría:</strong> {{ producto.categoria }}</p>
                    <p class="card-text"><strong>Precio:</strong> ${{ producto.precio }}</p>
                    <p class="card-text"><strong>Descripción:</strong> {{ producto.descripcion }}</p>
                    <p class="card-text"><strong>Stock:</strong> {{ producto.stock }}</p>
                    <p class="card-text"><strong>Fecha de Creación:</strong> {{ producto.fecha_creacion }}</p>
                    <p class="card-text">
                        <strong>Disponibilidad:</strong>
                        {% if producto.disponible %}
                            <span class="badge badge-success text-success">Disponible</span>
                        {% else %}
                            <span class="badge badge-danger text-danger">No Disponible</span>
                        {% endif %}
                    </p>
                    <div class="form-group">
                        <label for="cantidad">Cantidad:</label>
                        <input type="number" id="cantidad" name="cantidad" value="1" min="1" max="{{ producto.stock }}" class="form-control">
                    </div>
                    <div class="d-flex justify-content-end">
                        {% if user.perfil.rol == 'VE' %}
                            <a href="{% url 'producto_edit' pk=producto.pk %}" class="btn btn-secondary">Editar Producto</a>
                            <a href="{% url 'producto_delete' pk=producto.pk %}" class="btn btn-danger">Eliminar Producto</a>
                        {% endif %}
                        <form action="{% url 'agregar_al_carrito' producto.pk %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="cantidad" id="id_cantidad">
                            <button type="submit" class="btn btn-primary">Agregar al Carrito</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const cantidadInput = document.getElementById('cantidad');
        const cantidadHidden = document.getElementById('id_cantidad');
        
        cantidadInput.addEventListener('change', function() {
            cantidadHidden.value = this.value;
        });
    });
</script>
