{% extends 'base.html' %}

{% block title %}
    <title>Crear Producto</title>
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-white">Crear Producto</h1>
        <form method="POST" enctype="multipart/form-data" class="text-white">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ form.nombre.id_for_label }}">Nombre</label>
                {{ form.nombre }}
            </div>
            <div class="form-group">
                <label for="{{ form.categoria.id_for_label }}">Categoría</label>
                {{ form.categoria }}
            </div>
            <div class="form-group">
                <label for="{{ form.precio.id_for_label }}">Precio</label>
                {{ form.precio }}
            </div>
            <div class="form-group">
                <label for="{{ form.descripcion.id_for_label }}">Descripción</label>
                {{ form.descripcion }}
            </div>
            <div class="form-group">
                <label for="{{ form.stock.id_for_label }}">Stock</label>
                {{ form.stock }}
            </div>
            <div class="form-group">
                <label for="{{ form.imagen.id_for_label }}">Imagen</label>
                {{ form.imagen }}
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="{{ form.disponible.id_for_label }}" name="{{ form.disponible.name }}">
                <label class="form-check-label" for="{{ form.disponible.id_for_label }}">Disponible</label>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Crear Producto</button>
        </form>
    </div>
{% endblock %}
